.content-container {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 200px);
}

.content-container::-webkit-scrollbar {
    display: none;
}

.board-headline {
    font-weight: 600;
    font-size: 61px;
}

.board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board-header-alignment {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.add-task-container {
    display: flex;
    align-items: center;
}

.board-add-task-btn {
    padding: 12px 10px;
    background-color: #2A3647;
    color: white;
    border: 1px solid #2A3647;
    border-radius: 10px;
    font-weight: 700;
    font-size: 21px;
    transition: all 175ms ease-in-out;
    display: flex;
    align-items: center;
}

.board-add-task-btn:hover {
    cursor: pointer;
    background-color: aqua;
    border: 1px solid aqua;
    transition: all 175ms ease-in-out;
}

.board-add-task-btn>div {
    position: relative;
    padding-right: 10px;
}

.board-add-task-btn>p {
    margin-right: 16px;
}

.add-task-container>div {
    position: relative
}

.board-add-task-btn>div>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.find-task-img1 {
    position: absolute;
    top: 11px;
    left: 200px;
}

.find-task-img2 {
    position: absolute;
    top: 15px;
    left: 215px;
}

::placeholder {
    color: #D1D1D1;
    opacity: 1;
}

.find-task-input {
    margin-right: 16px;
    width: 251px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    padding: 13px 21px;
}

.add-task-input:focus {
    outline: none;
}

.board-container {
    margin-top: 128px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.board-container>div {
    margin: 8px 32px;
    width: 300px;
}

a {
    text-decoration: none;
}

.board-headlines {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2A3647;
    min-height: 50px;
}

.board-headlines:hover {
    cursor: pointer;
}

.board-headlines>p {
    font-weight: 700;
    font-size: 21px;
}

.board-headlines>div {
    font-size: 26px;
    border: 2px solid #2A3647;
    padding: 0 6px;
    border-radius: 12px;
    position: relative;
    width: 30px;
    height: 30px;
}

.board-headlines>div:hover {
    border: 2px solid #29ABE2;
}

.board-headlines>div>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.board-content {
    background-color: #FFFFFF;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.board-content:hover {
    cursor: pointer;
}

.task-category {
    color: white;
    padding: 4px 25px;
    width: fit-content;
    border-radius: 8px;
    margin-bottom: 16px;
}

.task-title {
    font-weight: 700;
    margin-bottom: 16px;
}

.task-description {
    color: #A8A8A8;
    margin-bottom: 16px;
}

.contact-selection {
    display: flex;
}

.contact-selection>div {
    margin: 8px -5px;
    color: white;
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

.prio-and-contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-task-img {
    position: relative;
    width: 40px;
    height: 40px;
    background: #2A3647;
    border-radius: 10px;
    padding: 3px;
}

.add-task-img:hover {
    cursor: pointer;
}

.add-task-img-vertical,
.add-task-img-horizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.design {
    background-color: #FF7A00;
}

.sales {
    background-color: #FC71FF;
}

.backoffice {
    background-color: #1FD7C1;
}

.marketing {
    background-color: #0038FF;
}

.media {
    background-color: #FFC701;
}

@media only screen and (min-width: 1100px) {
    .add-task-img {
        display: none;
    }
}

@media only screen and (max-width: 1100px) {
    .board-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .board-add-task-btn {
        display: none !important;
    }

    .add-task-container {
        margin-top: 24px;
    }

    .board-container {
        margin-top: 16px;
        overflow-x: hidden;
        overflow-y: auto;
        height: 500px;
    }

    .board-container::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
   
    .board-container {
        height: 400px;
    }

    .board-headline {
        font-size: 47px;
    }

    .board-container>div {
        margin: 0;
        width: 100%;
    }

    .content-container {
        margin: 16px;
    }
}