<div class="footer">
    <div>
        <div id="logo" class="logo-container flex-center" href="#">
            <img src="./assets/img/logo.svg">
        </div>
        <div class="footer-main-menu">
            <a id="summary-btn" class="footer-btns" href="../summary.html">
                <img class="summary-icon" src="./assets/img/summary-icon.svg">
                <p>Summary</p>
            </a>
            <a id="board-btn" class="footer-btns" href="../board.html">
                <img class="board-icon" src="./assets/img/board-icon.svg">
                <p class="board-text">Board</p>
            </a>
            <a id="add-task-btn" class="footer-btns" href="../add_task.html">
                <img class="addtask-icon" src="./assets/img/addtask-icon.svg">
                <p class="add-tast-text">Add Task</p>
            </a>
            <a id="contacts-btn" class="footer-btns" href="../contacts.html">
                <img class="contacts-icon" src="./assets/img/contacts-icon.svg">
                <p class="contacts-text">Contacts</p>
            </a>
        </div>
    </div>
    <div class="legalnotice-menu">
        <a id="legalnotice" href="#">
            <img src="./assets/img/legalnotice-icon.svg">
            <p>Legal notice</p>
        </a>
    </div>
</div>