<div class="sidemenu flex-column">
    <div class="width-100">
        <div id="logo" class="logo-container flex-center" href="#">
            <img src="./assets/img/logo.svg">
        </div>
        <div class="sidemenu-top">
            <a id="summary-btn" class="flex-center" href="../summary.html">
                <img class="summary-icon" src="./assets/img/summary-icon.svg">
                <p>Summary</p>
            </a>
            <a id="board-btn" class="flex-center" href="../board.html">
                <img class="board-icon" src="./assets/img/board-icon.svg">
                <p class="board-text">Board</p>
            </a>
            <a id="add-task-btn" class="flex-center" href="../add_task.html">
                <img class="addtask-icon" src="./assets/img/addtask-icon.svg">
                <p>Add Task</p>
            </a>
            <a id="contacts-btn" class="flex-center" href="../contacts.html">
                <img class="contacts-icon" src="./assets/img/contacts-icon.svg">
                <p class="contacts-text">Contacts</p>
            </a>
        </div>
    </div>
    <a id="legalnotice" class="legalnotice-menu flex-center" href="#">
        <img src="./assets/img/legalnotice-icon.svg">
        <p>Legal notice</p>
    </a>
</div>