<div class="sidemenu flex-column">
    <div class="width-100">
        <div id="logo" class="logo-container flex-center" href="#">
            <img src="./assets/img/logo.svg">
        </div>
        <div class="sidemenu-top">
            <div class="flex-center" href="#">
                <img class="summary-icon" src="./assets/img/summary-icon.svg">
                <p>Summary</p>
            </div>
            <div class="flex-center" href="#">
                <img class="board-icon" src="./assets/img/board-icon.svg">
                <p class="board-text">Board</p>
            </div>
            <div class="flex-center" href="#">
                <img class="addtask-icon" src="./assets/img/addtask-icon.svg">
                <p>Add Task</p>
            </div>
            <div class="flex-center" href="#">
                <img class="contacts-icon" src="./assets/img/contacts-icon.svg">
                <p class="contacts-text">Contacts</p>
            </div>
        </div>
    </div>
    <div id="legalnotice" class="legalnotice-menu flex-center" href="#">
        <img src="./assets/img/legalnotice-icon.svg">
        <p>Legal notice</p>
    </div>
</div>