<div class="topmenu-container">
    <div class="topmenu flex-align-center">
        <p id="headline">Kanban Project Management Tool</p>
        <img id="mobile-logo" class="d-none" src="./assets/img/mobile-logo.svg">
        <div class="flex-align-center">
            <a href="../help.html" onclick="saveLocation()"><img id="help-icon" class="help-icon hover" src="./assets/img/help-icon.svg"></a>
            <img class="user-icon hover" src="./assets/img/user-icon.svg" onclick="showLogoutBtn()">
        </div>
    </div>
    <div class="logout-bnt-container">
        <div id="logout-btn" class="d-none">Log out</div>
    </div>
</div>