<div class="topmenu-container">
    <div class="topmenu flex-align-center">
        <p id="headline">Kanban Project Management Tool</p>
        <img id="mobile-logo" src="./assets/img/mobile-logo.svg">
        <div class="flex-align-center">
            <a href="../help.html" onclick="saveLocation()"><img id="help-icon" class="help-icon hover"
                    src="./assets/img/help-icon.svg"></a>
            <img class="user-icon hover" src="./assets/img/user-icon.svg" onclick="toggleLogoutBtn()">
        </div>
    </div>
    <div id="mobile-topmenu-container" class="d-none">
        <div class="slide-in">
            <div class="help-btn"><a href="../help.html">Help</a></div>
            <div class="legal-notice-btn"><a href="#">Legal notice</a></div>
            <div class="logout-btn"><a href="../index.html">Log out</a></div>
        </div>
    </div>
    <div class="headline-mobile-container">
        <p id="headline-mobile">Kanban Project Management Tool</p>
    </div>

</div>